.container {

    transition: all ease-in-out 750ms;

}

.container .nav_heading {

    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container .nav_heading[data-user-logged-in=false]>* {

    opacity: 0;

}

.container .nav_heading[data-user-logged-in=false]>button {

    display: none;

}

.container .nav_heading h6 {

    font-size: var(--fs-h6);
    font-weight: 600;
    color: var(--white);

}

.container .nav_heading button {

    cursor: pointer;

    border-radius: 50%;

    border: none;
    background-color: transparent;

}

@media(min-width: 720px) {

    .container .nav_heading button {

        padding: 4px;

        border: 2px solid var(--white-75);

    }

}


@media(min-width: 720px) {

    .container .nav_heading button:hover {

        border: 2px solid var(--white);

    }

}

.container .nav_heading button span[data-mobile-icon='true'],
.container .nav_heading button span[data-desktop-icon='true'] {

    display: flex;

}

.container .nav_heading button span svg {

    fill: var(--white);

    width: 20px;
    height: 20px;

}

.container .nav_heading button span svg path {

    transform: scale(1.2);

}

@media(min-width: 720px) {
    .container[data-shrink-sidebar='true'] .nav_heading h6 {

        display: none;

    }
}

.container .nav_heading {

    justify-content: space-between;
    align-items: center;

}

@media(min-width: 720px) {
    .container[data-shrink-sidebar='true'] .nav_heading {

        justify-content: center;
        align-items: center;

    }
}

.container[data-shrink-sidebar='false'] {

    animation: showNavBar forwards 100ms;

}

@media(min-width: 720px) {
    .container[data-shrink-sidebar='true'] {

        min-width: calc(10vw - 10px) !important;
        max-width: calc(10vw - 10px) !important;

    }
}

@media(min-width: 980px) {

    .container[data-shrink-sidebar='true'] {

        min-width: 6vw !important;
        max-width: 6vw !important;

    }

}

@media(min-width: 720px) {
    .container[data-shrink-sidebar='true'] a {

        animation: showLinks forwards 100ms;
        position: relative;
    }
}

@keyframes showLinks {
    0% {
        opacity: 1;
        left: 0vw;
    }

    100% {
        opacity: 0;
        left: -10vw;
    }
}

@keyframes showNavBar {
    0% {
        min-width: 7vw !important;
        max-width: 7vw !important;
    }

    100% {
        min-width: 17vw !important;
        max-width: 17vw !important;
    }
}

@media(max-width: 719px) {
    .container button#btn_shrink_navbar span[data-desktop-icon='true'] {

        display: none;

    }

}

@media(min-width: 720px) {
    .container button#btn_shrink_navbar span[data-mobile-icon='true'] {

        display: none;

    }

}

.container ul {

    padding: 16px;

    overflow: hidden;

}

.container[data-shrink-sidebar='true'] ul, .container[data-shrink-sidebar='true'] ul * {

    display: none;
    height: 0;

}

.container ul li {

    margin: 6px 0;

    background-color: var(--white);
    border: 2px solid var(--secondary);
    border-radius: 2px;

    list-style-type: none;

}

.container ul li a {

    padding: 8px;

    display: flex;
    align-items: center;
    gap: 0 8px;

    font-size: var(--fs-minus-1);
    color: var(--black);

}

.container ul li a svg {

    min-width: 16px;
    min-height: 16px;

    fill: var(--black-75);

}

.container ul li a:hover svg {

    fill: var(--secondary);

}

.container ul li a svg#resize path {

    transform: scale(0.04);

}


.container ul li a:hover span {

    position: relative;

    animation: slide forwards 100ms;

    display: block;

}

@keyframes slide {

    0% {
        left: 0;
    }

    100% {

        left: 5%;
    }

}

.container ul li:last-child {

    margin-bottom: 0;

}