.container {

    min-height: initial !important;

    padding: 32px !important;

    display: flex !important;
    flex-direction: column;
    justify-content: space-around;

    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;

    z-index: 10;

    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    background-color: rgba(255, 255, 255, 0.9);

}

@media((min-width: 480px) and (max-width: 719px)) {

    .container {

        top: 10vh;
        left: 10vw;
        right: 10vw;

        border-radius: 4px;
        border: 2px solid var(--primary);

    }

}

@media((min-width: 720px) and (max-width: 1019px)) {

    .container {

        top: 15vh;
        left: 15vw;
        right: 15vw;

        border-radius: 4px;
        border: 2px solid var(--primary);

    }

}

@media(min-width: 1020px) {

    .container {

        top: 20vh;
        left: 25vw;
        right: 25vw;

        border-radius: 4px;
        border: 2px solid var(--primary);

    }

}

.container[data-keep-on-display=false] {

    display: none!important;

}

.container[data-keep-on-display=true]>svg {

    align-self: center;
    fill: #41ad49;

    height: 120px;
    width: 120px;
}

.container[data-keep-on-display=false]>svg {

    align-self: center;
    fill: #bf3333;

    height: 80px;
    width: 80px;
}

.container>h1 {

    width: fit-content;
    align-self: center;

    margin: 16px 0;

    font-size: var(--fs-h3)
}

.container[data-successful=true]>h1 {


    color: #41ad49;
    border-bottom: 4px solid #41ad49;

}

.container[data-successful=false]>h1 {

    color: #bf3333;
    border-bottom: 4px solid #bf3333;

}

.container>p {

    margin: 32px 0;

    color: var(--black);
    font-weight: 500;

}

.container>a, .container>button {

    align-self: center;

    padding: 16px;

    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    color: var(--white);

}

.container>a:hover, .container>button:hover {

    transform: scale(1.05);

}