.container {

    display: grid;
    grid-template-columns: 1fr;

}

@media(min-width: 720px) {

    .container {

        padding: 8px 16px;

    }

}

.container>h1 {

    margin: 16px 0;

    color: var(--secondary);

}

form#form_search {

    margin: 24px 0;

    justify-self: center;

    display: flex;
    justify-content: space-between;
    gap: 0 8px;

}

@media((min-width: 560px) and (max-width: 719px)) {
    form#form_search {

        max-width: 80vw;
        gap: 0 4px;

    }
}

@media(min-width: 720px) {
    form#form_search {

        max-width: 60vw;

    }
}

form#form_search input {

    padding: 12px 16px;

    min-width: 50%;

    border: 2px solid var(--primary);
    border-radius: 2px;

}


@media(min-width: 560px) {

    #form_search input {

        width: 30vw;

    }
}

#form_search button[type='submit'] {

    cursor: pointer;

    padding: 12px 12px;

    background-color: transparent;
    border: 2px solid var(--primary);

    color: var(--primary);
    border-radius: 4px;

}

#form_search button[type='submit']:hover {


    background-color: var(--primary);
    color: var(--white);

}

#form_search button[type='submit']:hover svg {

    transition: all ease 150ms;
    transform: scale(1.2);

}

.users_container {

    margin: 16px 0;

}

.users_container>h2 {

    margin-bottom: 16px;

    color: var(--black-75);

}

@media(min-width: 720px) {

    .users_container>h2 {

        font-size: var(--fs-h3);

    }

}

.users_container>ul {

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px 16px;

}

@media(min-width: 720px) {

    .users_container>ul {

        grid-template-columns: 1fr 1fr;

    }
}

.users_container .button_container {

    margin-top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.users_container .button_container button {

    padding: 16px;
    margin: 0 auto;

    max-width: 60vw;

    background-color: var(--white);
    border-radius: 8px;
    border: 2px solid var(--secondary);

    font-size: var(--fs-p);
    font-weight: 500;
    color: var(--secondary);

}

@media(min-width: 420px) {

    .users_container .button_container button {

        max-width: 60vw;

    }

}

.users_container .button_container button:hover {

    cursor: pointer;

    transition: all ease 300ms;

    background-color: var(--secondary);
    color: var(--white);
}

.users_container .button_container button svg {

    margin-right: 8px;
    transform: scale(2);

}

.users_container .button_container>svg {

    margin-top: 16px !important;
    /* transform: scale(0.6); */

    width: 120px;
    height: auto;

}