header {

    padding: 8px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 40px;

}

/* Search FORM on Mobile */
@media(max-width: 559px) {

    header #form_search[data-form-visible='false'] {

        display: none;

    }

    header #form_search[data-form-visible='true'] {

        animation: fadein forwards 500ms;

        padding: 8px 0;

        position: absolute;
        top: 60px;
        left: 0;

        display: flex;
        justify-content: center;
        gap: 4px;

        width: 100%;

        background-color: var(--white);

    }

}

@keyframes fadein {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}

/* Search FORM on Tablet, Desktop */
@media(min-width: 560px) {
    header #form_search {

        display: flex;
        gap: 4px;

    }
}

header #form_search input {

    padding: 12px 16px;

    width: 50vw;

    border: 2px solid var(--primary);
    border-radius: 2px;

}

@media(min-width: 560px) {

    header #form_search input {

        width: 30vw;

    }
}


@media(min-width: 560px) {

    header button#btn_show_search_form {

        display: none;

    }

}

header #form_search button[type='submit'] {

    padding: 12px 12px;

    background-color: transparent;
    border: 2px solid var(--white-75);

    color: var(--white);
    border-radius: 4px;

}


header .user {

    display: flex;
    gap: 8px;

    position: relative;
    top: 0;

}

header .user>button {

    cursor: pointer;

    position: relative;
    top: 0;

    padding: 12px 16px;

    display: flex;
    align-items: center;
    gap: 0 16px;

    background-color: transparent;

    border: 2px solid var(--white);
    border-radius: 8px;

    font-weight: 600;
    color: var(--white);

}

@media(min-width: 560px) {

    header .user>button {

        padding: 16px 24px;

    }

}

header .user[data-expanded='true']>button {

    background-color: var(--secondary);

}

header .user #user_menu {

    z-index: 1;

    position: absolute;
    top: 52px;
    right: 0;

    background-color: var(--white);
    border: 2px solid var(--secondary);
    border-top: none;
    border-radius: 0 0 4px 4px;

    box-shadow: 2px 2px 2px 2px var(--black-50);

}

@media(min-width: 560px) {

    header .user #user_menu {

        top: 60px;

    }

}

header .user #user_menu[data-expanded='false'] {

    display: none;

}

header .user #user_menu[data-expanded='true'] li {

    list-style-type: none;

    display: flex;

    padding: 8px;

}

header .user #user_menu[data-expanded='true'] li button {

    cursor: pointer;

    min-width: 140px;

    padding: 8px 16px;

    border: none;
    background-color: transparent;

    border-bottom: 2px solid;

    display: flex;
    align-items: center;

    color: var(--primary);

}


header .user #user_menu[data-expanded='true'] li:hover button {

    background-color: var(--black-10);

}

header .user #user_menu[data-expanded='true'] li button svg {

    margin-right: 8px;
    fill: var(--primary);

}