:root {

  --primary: #062a4b;
  --secondary: #093f71;

  --black: #010d17;
  --black-75: hsla(207, 92%, 5%, 0.75);
  --black-50: hsla(207, 92%, 5%, 0.50);
  --black-25: hsla(207, 92%, 5%, 0.25);
  --black-10: hsla(207, 92%, 5%, 0.10);
  --black-5: hsla(207, 92%, 5%, 0.05);

  --white: #fff;
  --white-75: hsla(0, 0%, 100%, 0.75);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-25: hsla(0, 0%, 100%, 0.25);
  --white-10: hsla(0, 0%, 100%, 0.10);
  --white-5: hsla(0, 0%, 100%, 0.05);

  --success: #41ad49;
  --warning: #f2c200;
  --error: #bf3333;

  /* FS = 16px -> 20px, 1.2 TS -> 1.333 TS */
  --fs-minus-2: clamp(0.69rem, calc(0.69rem + 0.01vw), 0.70rem);
  --fs-minus-1: clamp(0.83rem, calc(0.80rem + 0.15vw), 0.94rem);
  --fs-p: clamp(1.00rem, calc(0.93rem + 0.36vw), 1.25rem);
  --fs-h5: clamp(1.20rem, calc(1.07rem + 0.67vw), 1.67rem);
  --fs-h4: clamp(1.44rem, calc(1.22rem + 1.12vw), 2.22rem);
  --fs-h3: clamp(1.73rem, calc(1.38rem + 1.76vw), 2.96rem);
  --fs-h2: clamp(2.07rem, calc(1.54rem + 2.68vw), 3.95rem);
  --fs-h1: clamp(2.49rem, calc(1.70rem + 3.96vw), 5.26rem);

}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {

  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6, p, input, small, li {
  color: var(--black);
}

button {
  cursor: pointer;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

h5 {
  font-size: var(--fs-h5);
}

p, a, li {
  font-size: var(--fs-p);
}

input, select {
  font-size: var(--fs-minus-1);
}

small {
  font-size: var(--fs-minus-2);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}